# Security
.env
.env.*
*.env
!.env.example

# Traefik
acme.json
certs/
private/

# Authentik
authentik/media/
authentik/custom-templates/

# Logs
logs/
*.log
monitoring/loki_data/

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
